* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3.5px;
  background-color: rgba(50, 50, 50, 0.3);
}
::-webkit-scrollbar-track {
  border-radius: 3.5px;
  background-color: rgba(50, 50, 50, 0.1);
}
html {
  height: 100%;
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    -45deg,
    rgba(9, 69, 138, 0.2),
    rgba(68, 155, 255, 0.7),
    rgba(117, 113, 251, 0.7),
    rgba(68, 155, 255, 0.7),
    rgba(9, 69, 138, 0.2)
  );
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  font-size: 14px;
}
.container {
  display: grid;
  gap: 20px;
  grid-template-columns: 500px 250px;
  grid-template-rows: 500px;
}
.container.start {
  display: grid;
  gap: 20px;
  grid-template-columns: 250px 500px;
  grid-template-rows: 500px;
}
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.upload,
.filelist {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.upload .title,
.filelist .title {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #f2f6fc;
  color: #606266;
  font-weight: 500;
  padding: 0 15px;
  font-size: 16px;
}
.upload {
  -webkit-animation: slideRight 1.5s;
  animation: slideRight 1.5s;
  transition: box-shadow 0.35s;
}
.upload .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyall button {
  width: 70px;
  height: 28px;
  border-radius: 14px;
  margin: 0 12px;
  background-color: #fff;
}
.upload .title select {
  height: 28px;
  padding: 0 5px;
  border-radius: 14px;
}
.copyall {
  display: inline-flex;
  margin: 8px;
}
#show {
  width: 475px;
  height: 28px;
  outline: none;
  border: 1px solid #dcdfe6;
  padding: 0 15px;
  color: #606266;
  border-radius: 14px;
  font-size: 12px;
  transition: border 0.35s;
  -webkit-appearance: none;
}
.upload .title input:focus {
  border-color: #409eff;
}
.upload .content {
  cursor: pointer;
  height: calc(100% - 45px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.upload .content .icon {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}
.upload .content .desc {
  color: #606266;
}
.upload.dragenter {
  box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.25);
}
.upload.dragenter .content > * {
  pointer-events: none;
}
.filelist {
  -webkit-animation: slideLeft 1.5s;
  animation: slideLeft 1.5s;
}
.filelist .list {
  height: calc(100% - 45px);
  overflow-y: auto;
  padding: 10px;
  scroll-behavior: smooth;
}
.filelist .list .item {
  margin-bottom: 10px;
}
.filelist .list .item:last-child {
  margin-bottom: 0;
}
.filelist .list .item .file {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.filelist .list .item .file .icon {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}
.filelist .list .item .file .desc {
  flex: 1;
  min-width: 0;
}
.filelist .list .item .file .desc__name {
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  color: #606266;
  margin-bottom: 5px;
}
.filelist .list .item .file .desc__size {
  font-size: 12px;
  color: #909399;
}
.filelist .list .item .file .link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 50%;
  transition: background 0.2s;
}
.filelist .list .item .file .link svg {
  width: 18px;
  height: 18px;
}
.filelist .list .item .file .link:hover {
  background: #f56c6c50;
}
.filelist .list .item .progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}
.filelist .list .item .progress .progress-bar {
  flex: 1;
  min-width: 0;
}
.filelist .list .item .progress .progress-bar .progress-inner {
  width: 0%;
  height: 2px;
  background: #409eff;
  border-radius: 1px;
  transition: width 0.2s;
}
.filelist .list .item .progress .progress-bar .progress-inner.success {
  background: #67c23a;
}
.filelist .list .item .progress .progress-bar .progress-inner.error {
  background: #f56c6c;
}
.filelist .list .item .progress .progress-status {
  margin-left: 5px;
}
.filelist .list .item .progress .progress-status .icon {
  display: none;
  width: 14px;
  height: 14px;
}
@media (max-width: 780px) {
  body {
    height: auto;
    padding: 5vh 0;
  }
  .container {
    grid-template-columns: 350px;
    grid-template-rows: 400px 150px;
  }
  .container.start {
    grid-template-columns: 350px !important;
    grid-template-rows: 190px 400px !important;
  }
  .copyall button {
    width: 50px;
    margin: 0 4px;
  }
  #show {
    width: 320px;
    padding: 0 11px;
  }
}
